/* Boas práticas indicam para resetar, remover algumas predefinições do CSS do HTML */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 10px */
}

/* 
  :root é uma pseudoclasse, ela da acesso as configurações que vão ser levadas pelo site;

  :visited, quando o item foi utilizado;

  :hover, quando o mouse passa por cima do item, :hover deve sempre vir depois da tag :visited.

  :active, quando o item está visivel na pagina (?), deve vir sempre após o :hover;

  Nota sobre rem: O rem leva em consideração o que foi definido na font-size do :root, o padrão da fonte é 16px, se você definir como 10px, o valor do rem passa a valer 10px;
  
  Nota sobre em: O em leva em consideração a configuração do componente pai e não o do :root, ao contrário do rem que leva em consideração a do :root;

  Nota sobre % (porcentagem): Ele vai receber um valor a partir da funcionalidade, font-size padrão 16rem, width é o tamanho do componente e etc...

  Nota sobre viewport: Ele funciona como a porcentagem, só que ele sempre vai levar em consideração o tamanho da página;

*/

h1 {
  /* color: blue; */
  color: #000000; /* Hexadecimal -> de 00 até FF, números: 0 até nove, letras A até F, alterna o tom da cor primária, Vermelho - Verde - Azul, possível usar apenas com 3 casas: #000000 = #000.  */

  font-size: 4rem; /* Regula o tamanho da fonte */
  font-weight: 900; /* Regula o "peso", grossura da fonte, aumenta sempre em 100 */
  font-style: italic; /* Muda o estilo da fonte */
  text-decoration: underline; /* Muda a decoração do texto */
  text-transform: capitalize; /* Mudao comportamento do texto, se vai ser em caixa alta, caixa baixa ou sempre com a primeira letra em caixa alta... */
  text-align: center; /* Muda a posição do texto em relação ao seu espaço */

  padding: 1rem 0;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Muda a fonte sendo utilizada no componente, ele vai priorizando a fonte que está mais a esquerda, no caso de ausência ele vai para a que está a direita até chegar na padrão do computador, é bom usar o Google fonts para garantir sua fonte. */

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', arial, cursive;
}

h2 {
  font-size: 6.4rem;
}

p {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: justify;
  text-indent: 2rem; /* Recuo do parágrafo, funciona apenas na primeira linha. */
}

a {
  font-size: 1.5rem;
  color: red;
}

a:visited {
  color: darkgreen;
}

a:hover {
  color: coral;
}

/* Você precisa de um " . " para editar uma classe no CSS */
.bg-div {
  width: 100%;
  height: 25rem;
  background-color: blue;
  background-image: url(https://i.pinimg.com/736x/3c/58/78/3c5878751af1be01ebd4b173ba9ab389.jpg);
  background-size: cover; /* Vai ajustar como a imagem se comporta em relação ao seu container. */
  background-repeat: no-repeat; /* Vai definir as opções de repetição da imagem. */
  background-position: center; /* Vai definir a posição da imagem em relação ao espaço disponível */
  background-attachment: fixed; /* Usado para criar efeitos de paralaxe, define como o background vai se comportar mediante rolamento da página, não funciona em todos navegadores */
}

.novo-em {
  font-size: 300%;
}

.novo-em h2 {
  font-size: 1em;
}